html,
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: #eee;
  /* height: 100vh;
  width: 100vw; */
}

#preloader img {
  margin-top: 30vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
    padding: 0;
  }
  .navbar-brand {
    padding-top: 0.5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 1rem;
  text-transform: uppercase;
}

.sidebar-subheading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); */
}

.navbar .navbar-toggler {
  top: 0.4rem;
  right: 0.75rem;
}

#tableSearch {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 47px;
}

#searchBtn {
  height: 47px;

  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#logo {
  width: 100%;
  max-width: 150px;
}

.collapsed .bi-chevron-down {
  transition: transform 0.5s;
  transform: rotateX(0deg);
}

.bi-chevron-down {
  transition: transform 0.5s;
  transform: rotateX(180deg);
}

.table-btn {
  display: block;
  margin: 0 auto;
}

td,
th {
  text-align: center;
  vertical-align: middle !important;
  font-size: 16px;
}

#deleteTarget {
  text-align: center;
  font-weight: 700;
}

#deleteInput {
  display: block;
  margin: 0 auto;
}

#resultsTable_filter {
  display: none;
}

#deleteWarningMessage {
  text-align: center;
  color: #dc3545;
}

#table {
  display: none;
}

.card ul {
  list-style: none;
}

.card-btn {
  bottom: 15px;
}

.delete-btn {
  right: 15px;
}
.edit-btn {
  right: 55px;
}

.card-body {
  text-align: center;
}

.card-body h4 {
  font-family: 'Roboto Slab', serif;
}

.card-body p {
  font-weight: 300;
  margin-bottom: 10px;
}

.upper {
  text-transform: uppercase;
  font-size: 0.75em;
}

.capital {
  text-transform: capitalize;
}

.card-body i {
  font-size: 0.75em;
}

.table-head {
  position: sticky;
  top: 0;
  z-index: 10;
}
thead th {
  position: sticky;
  top: 0;
}

#tableWrapper {
  display: none;
}

@media (max-width: 480px) {
  .card-div {
    display: none;
  }

  .card-body h4 {
    font-size: 1.3rem !important;
  }
  .card-btn {
    display: none;
  }
  .entry-card {
    margin-bottom: 0.1rem !important;
    padding: 1px 3px;
  }
}
